@{
    ViewBag.Title = "Contact";
}
<div style="padding-top:40px;">
<address>
    <strong>Support:</strong>   <a href="mailto:abcabcabcdenis@gmail.com">abcabcabcdenis@gmail.com</a><br />
    
</address>
    </div>
@if (Session["dantistId"] != null)
{
    <script>
        document.getElementById("logout1").innerHTML = "Logout " + "@Session["login"].ToString()";
        document.getElementById("logout").style.display = "block";
        document.getElementById("showpatients").style.display = "block";
        document.getElementById("createpatient").style.display = "block";        
        document.getElementById("login").style.display = "none";        
    </script>}    
<script> document.getElementById("contact").classList.add("active");</script>