
@{
    ViewBag.Title = "ForgottenPassword";
}

@if(ViewBag.EmailNotExist!=null&& ViewBag.EmailNotExist==true)
{
    <script>alert("There is no one with such email!");</script>
}

<div>
    <fieldset style="width:40%;float:right;margin-top:70px;">
        <legend>Password reset</legend>
        @using (Html.BeginForm("ForgottenPassword", "Home", FormMethod.Post))
        {
            <span style="padding-bottom:10px">Your email address:</span>
            @Html.TextBox("email", null, new { @class = "form-control", type = "email",placeholder="Email address", required = "required" })<br />
                       
            <p><button style="padding:5px 10px;" type="submit" class="bg-info" >Submit</button></p>
        }
    </fieldset>
</div>

@if (Session["dantistId"] != null)
{
    <script>
        document.getElementById("logout1").innerHTML = "Logout " + "@Session["login"].ToString()";
        document.getElementById("logout").style.display = "block";
        document.getElementById("showpatients").style.display = "block";
        document.getElementById("createpatient").style.display = "block";
        document.getElementById("login").style.display = "none";
        document.getElementById("logindantist").style.display = "none";
    </script>}
