@model DHPA1.Models.ResetPassword

@{
    ViewBag.Title = "ResetPassword";
}

<div id="resetpassword">
    <fieldset style="width:40%;float:right;margin-top:70px;">
        <legend>Register</legend>
        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post,new {name="newpassword" }))
        {
        <span>New password:</span><br />        
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", onblur = "if(this.value.length<8){alert('Password must be atleast 8 symbols long!');}", @type = "password", id = "textType", placeholder = "Enter your password", title = "At least 8 symbols", required = "required" })<br />
        <span>Retype password:</span><br />
        @Html.TextBox("rePassword",null, new { @class = "form-control", @type = "password", id = "textType2", placeholder = "Retype password", required = "reuired" })<br />
        @Html.HiddenFor(m=>m.Email)
        <input type="checkbox" id="passwordChbx" onclick="ShowPassword('textType','textType2')" />
        <label for="passwordChbx">Show password </label><br /><br />
        <p><input type="button" class="btn" style="background-color:lightblue" id="btnSave" value="Save changes" onclick="PasswordCheck()" /></p>

        }
    </fieldset>
 
</div>

@if (Session["dantistId"] != null)
{
    <script>
        document.getElementById("logout1").innerHTML = "Logout " + "@Session["login"].ToString()";
        document.getElementById("logout").style.display = "block";
        document.getElementById("showpatients").style.display = "block";
        document.getElementById("createpatient").style.display = "block";
        document.getElementById("login").style.display = "none";
        document.getElementById("registerdantist").style.display = "none";
    </script>}

<script>
  
    function PasswordCheck() {
        var firstLine = document.getElementById("textType").value;
        var secondLine = document.getElementById("textType2").value;
        if (firstLine.length < 8) {
            alert("Password must be atleast 8 symbols!");
        }
        else if (secondLine != firstLine) {
            alert("Password doesn't match!");
        }
        else {
            var frm = document.getElementsByName("newpassword")[0];
            frm.submit(); // Submit the form       
            frm.reset();  // Reset all form data
            alert("You have to login to use your account!");
            return false; // Prevent page refresh               
             }
    }
</script>
<script>document.getElementById("login").classList.add("active");</script>

